* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin: 0;
	font-size: 1.25rem;
}

h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 500;
	color: #444;
}

#root {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
}

.main > * + * {
	margin-top: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.header-start {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.header-start > * + * {
	margin-top: 0.25rem;
}

.header-end {
	font-size: 0.875rem;
	color: #666;
}

.error {
	background-color: #fafafa;
	color: #333;
	padding: 1rem;
	border: 1px solid #333;
	border-radius: 4px;
}

.badge {
	background-color: #ffffff;
	color: #000000;
	padding: 0.15rem 0.375rem;
	border-radius: 4px;
	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
}

.train-departures-grid {
	display: flex;
	flex-direction: column;
}

.train-departures-grid > * + * {
	margin-top: 1rem;
}

.departure-item {
	font-weight: 500;
	background-color: #333;
	border-radius: 8px;
	padding: 1rem;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.departure-item > * + * {
	margin-top: 0.25rem;
}

.departure-item-next {
	outline: 2px dashed #000;
	background-color: #000000;

	outline-offset: 4px;
}

.departure-destination {
	font-size: 1rem;
}

.departure-time {
	font-size: 1.5rem;
	font-weight: 800;
}

.departure-time-meta {
	font-size: 0.75rem;
	font-weight: 500;
}

.strike {
	text-decoration: line-through;
}

.relative-time {
	font-size: 1.15rem;
	color: #dadada;
}

.departure-info {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.departure-item-label {
	color: #dadada;
	font-weight: 300;
}

.departure-item {
	color: #ffffff;
}
