* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* a {
	color: #777;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:active {
	color: #333;
} */
nav {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

/* nav a {
	font-weight: 500;
	font-size: 14px;
	padding: 0.25rem 0.75rem;
	border-radius: 8px;
	text-decoration: none;
}

nav a:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}

nav a[aria-current='page'] {
	background-color: #000000;
	color: #ffffff;
} */

h1 {
	margin: 0;
	font-size: 1.25rem;
}

h2 {
	margin: 0;
	font-size: 1rem;
	font-weight: 500;
	color: #444;
}

#root {
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	@media screen and (min-width: 600px) {
		padding: 2rem;
	}
}

.main {
	display: flex;
	flex-direction: column;
}

.main > * + * {
	margin-top: 1rem;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blip {
	background-color: #999;
	border-radius: 999px;
	width: 12px;
	height: 12px;
	animation: blip 1.5s ease infinite;
}

@keyframes blip {
	0%,
	100% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(0.8);
	}
}

.loading-container .spinner {
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	border-radius: 999px;
	width: 20px;
	height: 20px;
	transform: rotate(90deg);
	animation: spin 1.5s ease infinite;
}

@keyframes spin {
	0% {
		transform: rotate(90deg) scaleY(1);
	}
	50% {
		transform: rotate(90deg) scaleY(-1);
	}
	100% {
		transform: rotate(90deg) scaleY(1);
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.header-start {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.header-start > * + * {
	margin-top: 0.25rem;
}

.header-end {
	font-size: 0.875rem;
	color: #666;
}

.error {
	background-color: #fafafa;
	color: #333;
	padding: 1rem;
	border: 1px solid #333;
	border-radius: 4px;
	display: flex;
	gap: 0.5rem;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.badge {
	background-color: #ffffff;
	color: #000000;
	padding: 0.15rem 0.375rem;
	border-radius: 4px;
	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
}

.train-departures-grid {
	display: flex;
	flex-direction: column;
}

.train-departures-grid > * + * {
	margin-top: 1rem;
}

.departure-item {
	font-weight: 500;
	background-color: #333;
	border-radius: 8px;
	padding: 1rem;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.departure-item > * + * {
	margin-top: 0.25rem;
}

.departure-item-next {
	outline: 2px dashed #000;
	background-color: #000000;

	outline-offset: 4px;
}

.departure-destination {
	font-size: 1rem;
}

.departure-time {
	font-size: 1.5rem;
	font-weight: 800;
}

.departure-time-meta {
	font-size: 0.75rem;
	font-weight: 500;
}

.strike {
	text-decoration: line-through;
}

.relative-time {
	font-size: 1.15rem;
	color: #dadada;
}

.departure-info {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.departure-item-label {
	color: #dadada;
	font-weight: 300;
}

.departure-item {
	color: #ffffff;
}
